@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

img {
    height: auto;
    max-width: 100%;
    margin: 40px 0 0 auto;
}

img,
b {
    display: block;
}

h1,
h2,
p,
b {
    color: #4D4F62;
    margin: 0;
}

h1,
b {
    letter-spacing: 0.25px;
}

h1 {
    font-size: 36px;
    font-weight: 200;
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

h2,
b {
    font-weight: 600;
}

p {
    font-size: 13px;
    opacity: 0.5;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 23px;
}

/* CONTAINER */

.container {
    max-width: 1238px;
    width: 100%;
    padding: 0 32px;
    margin: 80px auto;
}

/* HEADER */

header {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin: 16px 0 50px 0;
}

/* SECTION */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card:nth-child(1),
.card:nth-child(3) {
    transform: translateY(50%);
}

.content-card {
    position: relative;
    max-width: 350px;
    margin: 15px;
    padding: 32px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.50)
}

.content-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    width: 100%;
}

.content-card.card-cyan:before {
    background-color: #44D3D2;
}

.content-card.card-red:before {
    background-color: #EA5454;
}

.content-card.card-blue:before {
    background-color: #549EF2;
}

.content-card.card-orange:before {
    background-color: #FCAE4A;
}

@media screen and (max-width:1220px) {

    .card:nth-child(1),
    .card:nth-child(3) {
        transform: none;
    }
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        margin-bottom: 3px;
    }

    header p {
        margin: 16px 0 60px 0;
    }

    .content-card {
        padding: 28px;
        margin-left: 0;
        margin-right: 0;
    }

    img {
        margin: 33px 0 0 auto;
    }
}